{{define "tea"}}
<!DOCTYPE html>
<html lang="en">
<head>
{{template "head"}}
</head>
<body>
<div id="container">
    <div id="wrapper">
        <span>{{.Title}}</span>
        <span>{{.Type}}</span>
        <form action="/tea-edit" method="post">
            <input type="hidden" name="id" value="{{.GetId}}">
            <label for="input-title">Title</label>
            <input id="input-title" type="text" name="title" value="{{.Title}}">
            <label for="input-type">Type</label>
            <input id="input-type" type="text" name="type" value="{{.Type}}">
            <button type="submit" name="sub">Add</button>
        </form>
    </div>
</div>
</body>
</html>
{{end}}